<html>
	<head>
		<title>Advocate Event Signup</title>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-52390719-2', 'auto');
		  ga('send', 'pageview');
		
		</script>
		 <link rel="stylesheet" href="stylesheets/event.css" title="Event Style" type="text/css" media="screen" charset="utf-8">
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		 <script src="javascripts/event.js" charset="utf-8"></script>
		 <script src="groups.js"></script>
	</head>
	<body>
		<header id="banner">
			<section>
				<h1 class="headline">advocate</h1>
			</section>
			<section>
				<h1 class="headline">SIGN UP</h1>
			</section>
		</header>
		<main id="form_body">
			<header id="form_title">
				<h1>Serve Rhode Island's Roger Williams Park Cleanup</h1>
				<h3>Saturday, April 25th</h3>
				<h3>1000 Elmwood Ave</h3>
				<h3>Providence, RI 02905</h3>
			</header>
			<form action="/earthday" method="POST">
				<section id="contact_info" class="signup_section">
					<h2>1. Contact Information</h2>
					<div class="horz_break"></div>
					<section class="half_col left_col">
						<div class="form_row">
							<div class="row_text">
								<h3>First Name</h3>
							</div>
							<div class="row_input">
								<input type="text" name="firstname" placeholder="Johhny" required>
							</div>
						</div>
						<div class="form_row">
							<div class="row_text">
								<h3>Last Name</h3>
							</div>
							<div class="row_input">
								<input type="text" name="lastname" placeholder="Karate" required>
							</div>
						</div>
						<div class="form_row">
							<div class="row_text">
								<h3>Phone #</h3>
							</div>
							<div class="row_input">
								<input type="text" name="phone" placeholder="xxx-xxx-xxxx" required>
							</div>
						</div>
						<div class="form_row">
							<div class="row_text">
								<h3>Emergency Contact #</h3>
							</div>
							<div class="row_input">
								<input type="text" name="emergency_phone"  placeholder="xxx-xxx-xxxx" required>
							</div>
						</div>
					</section>
					<section class="half_col right_col">
						<div class="form_row">
							<div class="row_text">
								<h3>Address</h3>
							</div>
							<div class="row_input">
								<input type="text" name="address" placeholder="123 Main St." required>
							</div>
						</div>
						<div class="form_row">
							<div class="row_text">
								<h3>Zip Code</h3>
							</div>
							<div class="row_input">
								<input type="text" name="zip" placeholder="01234" required>
							</div>
						</div>
						
						<div class="form_row">
							<div class="row_text">
								<h3>E-Mail</h3>
							</div>
							<div class="row_input">
								<input type="email" name="email" placeholder="johnny@karate.com" required>
							</div>
						</div>
						<div class="form_row">
							<div class="row_text">
								<h3>Age</h3>
							</div>
							<div id="age_options" class="radio_input">
								<input type="radio" name="age" value="0">&lt; 18
								<input type="radio" name="age" value="1">18-24
								<input type="radio" name="age" value="2">25-54
								<input type="radio" name="age" value="3">55+
								<p class="sub_text">for census/demographic use only!</p>
							</div>
						</div>
						
					</section>
					<section class="conditional_info" id="guardian_info">
						<div class="conditional_wrapper">
							<div class="conditional_header">
								<span class="condit_big">Under 18?</span><span class="condit_small">Please provide information of a parent or guardian.</span>
							</div>
							<section class="half_col left_col">
								<div class="form_row">
									<div class="row_text condit_text">
										<h3>Name</h3>
									</div>
									<div class="row_input">
										<input type="text" name="guard_name">
									</div>
								</div>
							</section>
							<section class="half_col right_col">
								<div class="form_row">
									<div class="row_text condit_text">
										<h3>E-Mail</h3>
									</div>
									<div class="row_input">
										<input type="email" name="guard_email">
									</div>
								</div>
							</section>
						</div>
					</section>
				</section>
				<div id="group_auto">
				</div>
				<section id="groups" class="signup_section">
					<h2>2. Groups<span class="header_sub">Enter your group name if you have one, or continue solo.</span></h2>
					<div class="horz_break"></div>
					<section id="group_selection">
						<div id="group_search">
							<input name="group" type="text" placeholder="Group Name" style="padding-left: 10px;">
							<div id="search_icon">
							</div>
						</div>
					</section>
				</section>
				<section id="tools" class="signup_section">
					<h2>3. Tools<span class="header_sub">Do you have any of the following tools? Check all that apply.</span></h2>
					<div class="horz_break"></div>
					<div id="tool_wrapper">
						<div class="tool unselected">
							<p>Gloves</p>
							<div class="checked noshow"></div>
							<input type="checkbox" style="display: none;" name="tools" value="gloves">
						</div>
						<div class="tool unselected">
							<p>Rake</p>
							<div class="checked noshow"></div>
							<input type="checkbox" style="display: none;" name="tools" value="rake">
						</div>
						<div class="tool unselected">
							<p>Shovel</p>
							<div class="checked noshow"></div>
							<input type="checkbox" style="display: none;" name="tools" value="shovel">
						</div>
					</div>
				</section>
				<section id="forms" class="signup_section">
					<h2>4. Media and Liability Release</h2>
					<div class="horz_break"></div>
					<section class="form_info" id="media">
						<div class="form_check">
							<div class="check_box"><input class="check_box_inner" type="checkbox" style="display: none" name="media" value="media"></div>
						</div>
						<div class="form_data">
							<p>I give Serve Rhode Island permission to use photos taken of me at the event for publicity purposes.</p>
							<div class="form_extended_info">
								<p>I also give unrestricted permission to Serve Rhode Island and/or any person authorized by it to use my name and/or pictures/photographs, recordings, interviews, videotapes, motion pictures or similar visual or auditory recording of me created in connection with the project.</p>
							</div>
						</div>
						<div class="form_more">
							<p>more</p>
						</div>
					</section>
					<section class="form_info" id="liability">
						<div class="form_check">
							<div class="check_box"><input class="check_box_inner" type="checkbox" style="display: none" name="liability" value="liability"></div>
						</div>
						<div class="form_data">
							<p>I hereby release Serve Rhode Island from all liability, losses, or damages as a result of my participation in this event.</p>
							<div class="form_extended_info">
								<p>In consideration of the opportunity afforded to me to assist on a voluntary basis, and in light of the aims and purposes of the community service provided by Serve Rhode Island in organizing this project, I hereby  waive any right or cause of action arising as a result of my participation in said project from which any liability may  or could accrue against Serve Rhode Island (and any cooperating agencies listed above) or its officers and directors collectively or individually. Without limiting the generality of the foregoing, I agree that this waiver shall include any rights or causes of action resulting from personal injury to me, or damage to my property sustained in connection with my activities for this project. I am participating as an individual and not as an employee.</p>
							</div>
						</div>
						<div class="form_more">
							<p>more</p>
						</div>
					</section>
				</section>
				<section class="signup_section">
					<h2>5. Reasonable Accommodations</h2>
					<div class="horz_break"></div>
					<section class="form_info" id="media">
						<div class="form_check">
							<div class="check_box" id="accommodation_check"><input class="check_box_inner" type="checkbox" style="display: none" name="accommodations" value="accommodations"></div>
						</div>
						<div class="form_data">
							<p>I require accommodations to participate.</p>
							<br>
							<p>Serve Rhode Island is committed to including all Rhode Islanders in service to our communities. By actively recruiting persons with a broad range of abilities to help improve service and programs, we raise awareness about the value of diversity in our communities.</p>
						</div>
						<section class="conditional_info" id="accommodation_info">
							<div class="conditional_wrapper">
								<div class="conditional_header">
									<span class="condit_big">What do you need help with?</span>
								</div>
								<div style="position: relative; float: left; width: 5%; color:white;"><p>Details</p></div>
								<div id="accommodation_input">
									<textarea name="accommodatation_details"></textarea>
								</div>
								<p class="accomm_contact">For more info, please contact Marisa Petreccia at 401-331-2298.</p>
							</div>
						</section>
					</section>
				</section>
				<section class="signup_section">
					<div style="width: 100%; overflow: hidden;">
					<input type="submit" onclick="return(verify_send());" id="submit" value="FINISH">
					<div id="error_check" style="display: none;">
						<div class="exclame"></div>
						<p>We're missing some info!</p>
					</div>
					</div>
					<br>
					<p>For any questions regarding how we're using this information please email <a href="mailto:volunteer@serverrhodeisland.org">volunteer@serverrhodeisland.org</a>!</p>
				</section>
			</form>
		</main>
		<footer>
		</footer>
	</body>
</html>
