<html>
	<head>
		<title>Advocate Event Signup</title>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-52390719-2', 'auto');
		  ga('send', 'pageview');
		
		</script>
		 <link rel="stylesheet" href="/stylesheets/event_main.css" title="Event Style" type="text/css" media="screen" charset="utf-8">
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
		<header id="banner">
			<section>
				<h1 class="headline">advocate</h1>
			</section>
			<section>
				<h1 class="headline">LOGIN</h1>
			</section>
		</header>
		<main id="form_body">
			<form action="/event/view" method="POST">
				<section id="contact_info" class="main_section">
					<h2>Login</h2>
					<div class="horz_break"></div>
					<section>
						<input type="password" name="password" placeholder="password">
					</section>
					
				<section class="signup_section">
					<div style="width: 100%; overflow: hidden;">
						<input type="submit" id="submit" value="LOGIN">
					</div>
				</section>
			</form>
		</main>
		<footer>
		</footer>
	</body>
</html>
