<html>
	<head>
		<title>Advocate Event Signup</title>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		 <link rel="stylesheet" href="stylesheets/event.css" title="Event Style" type="text/css" media="screen" charset="utf-8">
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		 <script src="groups.js"></script>
	</head>
	<body>
		<header id="banner">
			<section>
				<h1 class="headline">advocate</h1>
			</section>
			<section>
				<h1 class="headline">SIGN UP</h1>
			</section>
		</header>
		<main id="confirmation">
			<div id="confirmation_circle" class="confirmation_fail"></div>
			<h2 class="confirmation_text">OH NO!</h2>
			<p class="confirmation_text">There was an unexplained error submitting your form. Please <a href="/earthday">submit it again</a>.</p>
			<p>If you encounter this error again, please email <a href="mailto:mambroise@serverhodeisland.org">Maya Ambroise</a> at Serve Rhode Island.</p> 
		</main>
		<footer>
		</footer>
	</body>
</html>
