<html>
	<head>
		<title>Advocate</title>
		<link rel="stylesheet" href="/stylesheets/genericstyle.css" title="Advocate Styling" type="text/css" media="screen" charset="utf-8">
		<% include includes/boilerplate %>
	</head>
	<body>
		<div class="overlay" onclick="toggleDialogue()">
			<div class="popup" onclick="preventHide()">
				<h1 class="headTitle centerAlign">A MODAL WINDOW</h1>
				<div class="colorBar">
					<div class="pink colorBlock">
					</div>
					<div class="blue colorBlock">
					</div>
					<div class="aqua colorBlock">
					</div>
					<div class="yellow colorBlock">
					</div>
				</div>		
				<p>Some content is here</p>
			</div>
		</div>
		<div id="wrapper">
			<% include includes/header %>
			<div id="content" class="gridWrapper">
				<h1>This is Header 1</h1>
				<h2>This is Header 2</h2>
				<h3>This is Header 3</h3>
				<p>This is a paragraph, or body text.</p>
				<a href="/">This is a hyperlink.</a>
				<br>
				<br>
				<id class="pink buttonize" onclick="toggleDialogue();">Button</id>
				<br>
				<br>
				<br>
			</div>
			<div class="colorBar">
				<div class="pink colorBlock">
				</div>
				<div class="blue colorBlock">
				</div>
				<div class="aqua colorBlock">
				</div>
				<div class="yellow colorBlock">
				</div>
			</div>
			<% include includes/footer %>
		</div>
		<script src="/javascripts/js_generic.js"></script>
		<%if(auth){%><script src="/javascripts/js_header.js"></script><%}%>
	</body>
</html>
