<html>
	<head>
		<title>Advocate</title>
		<link rel="stylesheet" href="/stylesheets/mainstyle.css" title="Advocate Styling" type="text/css" media="screen" charset="utf-8">
		<% include includes/boilerplate %>
	</head>
	<body>
		<div id="wrapper">
			<% include includes/header %>
			
			<div id="splashImage">
				<div id="splashVideoWrapper">
					<img src="/resources/video_over.png" width="853" onclick='var video = "<iframe width=\"853\" height=\"480\" src=\"//www.youtube.com/embed/9zUVQIZjRAM?rel=0\" frameborder=\"0\" allowfullscreen></iframe>"; $("#splashVideoWrapper").html(video);' style="cursor: pointer;"/>
				</div>
			</div>
			<div id="bodyWrapper">
				<div id="contentWrapper" class="fullWidth">
					<div id="howItWorks">
						<div class="boxHeader">
							<p>How It Works</p>
						</div>
						<div class="boxContent">
							<div id="worksContentWrapper">
								<div class="worksThird">
									<img src="resources/circle_one_green.png" width="47" height="47" class="numCircle"/>
									<div class="worksHeader">
										<h2>Non-Profits</h2>
										<p>post events to the marketplace</p>
									</div>
								</div>
								<div class="worksThird">
									<img src="resources/circle_two_green.png" width="47" height="47" class="numCircle"/>
									<div class="worksHeader">
										<h2>Volunteers</h2>
										<p>find & share fun events</p>
									</div>
								</div>
								<div class="worksThird">
									<img src="resources/circle_three_green.png" width="47" height="47" class="numCircle"/>
									<div class="worksHeader">
										<h2>Schools & Businesses</h2>
										<p>track hours and community impact</p>
									</div>
								</div>
								<div id="worksMain">
									<div id="calendar">
										<img class="worksImg" src="resources/calendar_green.png" />
									</div>
									<div class="arrow">
										<img class="arrowImg" src="resources/arrow.png" />
									</div>
									<div id="hand">
										<img class="worksImg" src="resources/hand_green.png" />
									</div>
									<div class="arrow">
										<img class="arrowImg" src="resources/arrow.png" />
									</div>
									<div id="graph">
										<img class="worksImg" src="resources/graph_green.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="whatYouGet">
						<div class="boxHeader">
							<p>What you get as a:</p>
						</div>
						<div class="boxContent">
							<div id="boxNav">
								<div class="boxNavItem">
									<p onclick='$("#whatMain").animate({left: 0},1000,function(){}); $("#navIndicator").animate({left: 90}, 1000, function(){}); $("#whatWrapper").animate({height: 1200}, 1000, function(){});'>Non Profit</p>
								</div>
								<div class="boxNavItem">
									<p onclick='$("#whatMain").animate({left: -936},1000,function(){}); $("#navIndicator").animate({left: 380}, 1000, function(){}); $("#whatWrapper").animate({height: 1200}, 1000, function(){});'>Volunteer</p>
								</div>
								<div class="boxNavItem">
									<p onclick='$("#whatMain").animate({left: -1872},1000,function(){}); $("#navIndicator").animate({left: 690}, 1000, function(){}); $("#whatWrapper").animate({height: 900}, 1000, function(){});'>School / Business</p>
								</div>
								<div id="navIndicator">
								</div>
							</div>
							<div id="whatWrapper">
								<div id="whatMain">
									<div class="whatFrame">
										<div class="frameSection">
											<div class="frameHalf">
												<h3>Create & share events in a snap</h3>
												<ul class="describeList">
													<li>Create an event in under 10 minutes & post for free</li>
													<li>Easily share of Facebook and Twitter</li>
													<li>Monitor public interest and know how many people have committed</li>
												</ul>
											</div>
											<div class="frameHalf">
												<div class="imageWrapper">
													<img src="/resources/cancer_run.png"/>
												</div>
											</div>
										</div>
										<div class="frameSection">
											<div class="frameHalf">
												<h3>Manage events like never before</h3>
												<ul class="describeList">
													<li>See your entire roster of volunteers before they arrive</li>
													<li>Check in with a swipe of a finger</li>
													<li>Automatically send verified service hours to volunteers</li>
												</ul>
											</div>
											<div class="frameHalf">
												<div class="imageWrapper">
													<img src="/resources/iphone.png"/>
												</div>
											</div>
										</div>
									</div>
									<div class="whatFrame">
										<div class="frameSection">
											<div class="frameHalf">
												<h3>Get involved- when you want, how you want.</h3>
												<ul class="describeList">
													<li>Find events curated by your personal interest</li>
													<li>See which friends are going, and invite more through Facebook or Twitter</li>
													<li>Bookmark for later</li>
												</ul>
											</div>
											<div class="frameHalf">
												<div class="imageWrapper">
													<img src="/resources/cancer_run.png"/>
												</div>
											</div>
										</div>
										<div class="frameSection">
											<div class="frameHalf">
												<h3>Building community, on your time.</h3>
												<ul class="describeList">
													<li>pick the times that work best for you</li>
												</ul>
											</div>
											<div class="frameHalf">
												<div class="imageWrapper">
													<img src="/resources/time.png"/>
												</div>
											</div>
										</div>
										<div class="frameSection">
											<div class="frameHalf">
												<h3>Do good, see good, feel good.</h3>
												<ul class="describeList">
													<li>Measure your progress against your goals</li>
													<li>See your impact across your local community</li>
													<li>Export as a PDF for school requirements, applications, or proof of service wherever certified hours are needed.</li>
												</ul>
											</div>
											<div class="frameHalf">
												<div class="imageWrapper">
													<img src="/resources/graph_progress.png"/>
												</div>
												<div class="imageWrapper">
													<img src="/resources/map_impact.png"/>
												</div>
											</div>
										</div>
									</div>
									<div class="whatFrame">
										<div class="frameSection">
											<div class="frameHalf">
												<h3>Track progress.</h3>
												<ul class="describeList">
													<li>See the progress of your organization toward your annual goal</li>
													<li>Sort & search a fully updated spreadsheet of individual's hours</li>
													<li>Export as a PDF for grants and other applications</li>
												</ul>
											</div>
											<div class="frameHalf">
												<div class="imageWrapper">
													<img src="/resources/graph_progress.png"/>
												</div>
												<div class="imageWrapper">
													<img src="/resources/member_graph.png"/>
												</div>
											</div>
										</div>
										<div class="frameSection">
											<div class="frameHalf">
												<h3>Measure & maximize community impact.</h3>
												<ul class="describeList">
													<li>See what places and events your members volunteer at the most</li>
													<li>See the impact your student/employee body has on the community</li>
												</ul>
											</div>
											<div class="frameHalf">
												<div class="imageWrapper">
													<img src="/resources/map_impact.png"/>
												</div>
												<div class="imageWrapper">
													<img src="/resources/interest_graph.png"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<% include includes/footer %>
		</div>
		<script src="/javascripts/js_generic.js"></script>
		<%if(auth){%><script src="/javascripts/js_header.js"></script><%}%>
	</body>
</html>
