<html>
	<head>
		<title>Advocate</title>
		<link rel="stylesheet" href="/stylesheets/masterstyle.css" title="Advocate Styling" type="text/css" media="screen" charset="utf-8">
		<% include includes/boilerplate %>
	</head>
	<body>
		<div id="wrapper">
			<% include includes/header %>
			
			<div id="content">
				<h1 class="headTitle" style="text-align: center;">Sign Up</h1>	
				<form role="form" action="/register" method="post" id="registerForm">
					<div id="formWrapper">
						<div class="formSection">
							<p class="centerAlign" style="text-align: center;">Have an account? <a href="/login">Log in</a></p>
							<div id="twitterAuth">
								<a href="/auth/twitter" style="position: absolute; width: 100%; height: 100%; z-index:1;">
								</a>
								<div class="buttonTable">
									<div class="buttonContent">
										<div class="buttonLogo" id="twitter"></div>
										<h3 class="buttonText">with twitter</h3>
									</div>
								</div>
								
							</div>

							<p class="caption" style="text-align: center; margin-top:14px;">we'll never post anything without your permission!</p>
							<div class="optionDivider">
								<div class="dividerWrapper">
									<div class="dividerLine">
									</div>
									<h1 class="dividerText">OR</h1>
									<div class="dividerLine">
									</div>
								</div>
							</div>
							<div class="modalForm width100">
								<input type="text" id="firstName" name="firstName" placeholder="first name" class="formtext validateInterest" style="width: 226px; margin-right:12px;" required>
								<input type="text" id="lastName" name="lastName" placeholder="last name" class="formtext floatRight validateInterest" style="width: 226px;" required><br>
								<input type="text" id="affiliate" name="affiliate" placeholder="affiliated schools or organizations" class="formtext width100 validateInterest" required><br>
								<input type="text" id="username" name="username" placeholder="username" onblur="checkUsername();" class="formtext width100 validateInterest" required><br>
								<input type="email" id="emailAddress" name="emailAddress" placeholder="email" class="formtext width100 validateInterest" required><br>
								<input type="password" id="password" name="password" placeholder="password" class="formtext width100 validateInterest" required>
							</div>
						</div>
					</div>
					<div class="buttonContainer">
						<button type="submit" class="centerBox buttonize pink">SUBMIT</button>
					</div>
				</form>
			
			<% include includes/footer %>
		</div>
		<script src="/javascripts/js_generic.js"></script>
		<%if(auth){%><script src="/javascripts/js_header.js"></script><%}%>
	</body>
</html>
