@import url(masterstyle.css);

/*STYLING FOR PROGRESSIVE ORG CREATION FORM*/
#newOrgForm{
	position: relative;
	float: left;
	overflow: hidden;
	height: auto;
}

#creationProgressWrapper{
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-top: 80px;
	height: 80px;
}

#creationBar{
	height: 5px;
	background-color: #A7A9AB;
}

#eventTypes{
	list-style-type: none;
}

#creationProgress{
	height: 5px;
	float: left;
	background-color: #68C6B8;
}

.progressCap{
	position: relative;
	float: left;
	width: 33%;
	text-align: center;
}

.progressCap p{
	font-size: 12pt;
}

#fullFormWrap{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 626px;
	overflow: hidden;
}

.slidingSection{
	position: relative;
	float: left;
	margin-top: 66px;
	padding-left: 174px;
	padding-right: 174px;
}

.infoBox{
	position: relative;
	float: left;
	width: 158px;
	height: 205px;
	padding: 14px;
	background-color: #E6E7E8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 5px solid #E6E7E8;
	cursor: pointer;
}


.infoBox:hover{
	border: 5px solid #8d8d8d;
}

.infoBoxBorder{
	border: 5px solid #68C6B8;
}

.infoBox p{
	font-size: 12pt;
}

#zipWrap{
	border: 1px solid #808284;
	color: #717171;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 43px;
	margin-bottom: 6px;
	font-size: 18pt;
	font-weight: 200;
	margin-top: 18px;
}

#zipLocation{
	position: relative;
	float: right;
	width: 40%;
	height: 43px;
}

#modalContent{
	position: relative;
	width: 946px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 14px;
	overflow: hidden;
}

#modalTop{
	position: relative;
	float: left;
	margin-bottom: 80px;
	width: 100%;
	margin-left: 28px;
}

#modalBottom{
	position: relative;
	float: left;
	width: 100%;
}

#modalTitle{
	position: relative;
	float: left;
	margin-left: 33px;
}

#modalLeft{
	position: relative;
	float: left;
	width: 706px;
}

#modalMission{
	position: relative;
	float: left;
	margin-bottom: 94px;
	width: 100%;
}

#modalStory{
	position: relative;
	float: left;
	margin-bottom: 94px;
	width: 100%;
}

#modalRight{
	position: relative;
	float: left;
	width: 200px;
	margin-left: 28px;
}