@import url(event_main.css);

.media_extended{
	height: 75px;
}

.liability_extended{
	height: 175px;
}

/*group*/
#group_selection{
	position: relative;
	float: left;
	width: 100%;
	height: 255px;
}

#group_search{
	position: relative;
	float: left;
	width: 100%;
	background-color: white;
	border-radius: 6px;
	z-index: 1;
}

#group_search input{
	position: relative;
	float: left;
	width: 95%;
	height: 54px;
	border: none;
	border-radius: 6px;
	font-size: 22px;
	font-family: 'Asap', sans-serif;
}

#search_icon{
	position: relative;
	float: right;
	background-image: url('../resources/search.png');
	width: 5%;
	height: 54px;
	background-repeat: no-repeat;
	background-position: center center;
}

#group_auto{
	position: absolute;
	border: 1px solid #d1d3d4;
	width: 400px;
	background-color: white;
	z-index: 1000;	
}

.search_result{
	margin-bottom: 10px;
	padding: 5px;
	padding-top: 18px;
	height: 54px;
}

.search_result:hover{
	background-color: #eaeaea;
}

p.auto_name{
	font-size: 22px;
}

p.auto_num{
	color: #737373;
	font-size: 15px;
	margin-left: 6px;
}

/*TOOLS*/
.tool{
	position: relative;
	float: left;
	width: 49.5%;
	height: 62px;
	border-radius: 6px;
	margin-bottom: 1%;
}


.selected{
	background-color: #d3e0db;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.unselected{
	background-color: white;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.checked{
	position: relative;
	float: left;
	height: 62px;
	width: 15%;
	background-image: url('../resources/check.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.noshow{
	opacity: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.show{
	opacity: 1;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.tool p{
	position: relative;
	float: left;
	font-size: 20px;
	line-height: 62px;
	margin-left: 5%;
	width: 80%;;
}

#tool_wrapper div:nth-child(odd){
	margin-right: 1%;
}

/*ACCOMMODATION*/
#accommodation_input{
	position: relative;
	float: left;
	width: 90%;
	height: 100px;
	padding-left: 30px;
	overflow: hidden;
}

#accommodation_input textarea{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: none;
	resize:vertical;
	font-size: 15px;
	font-family: 'Asap', sans-serif;
}

.accomm_contact{
	position: relative;
	float: left;
	margin-top: 10;
	color: white;
	margin-left: 5%;
	padding-left: 30px;
}

/*SUBMIT BUTTON*/
#submit{
	position: relative;
	float: left;
	margin-top: 10px;
	height: 64px;
	width: 162px;
	border-radius: 6px;
	background-color: #2d957e;
	color: white;
	border-style: none;
	font-size: 20px;
	font-family: 'Asap',sans-serif;
	margin-bottom: 20px;
}

#confirmation_circle{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	margin-top: 200px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 40px;
}

.confirmation_check{
	background-image: url('../resources/big_check.png');
}

.confirmation_fail{
	background-image: url('../resources/big_exclamation.png');
}

.confirmation_text{
	text-align: center;
	margin-bottom: 20px;
}

.confirmation_link{
	text-align: center;
	margin-bottom: 20px;
}